[*.cs]

# CA1303: Do not pass literals as localized parameters - Being monolingual, attempting to fix this would be far too much work for little/no benefit.
dotnet_diagnostic.CA1303.severity = none

# CA1707: Identifiers should not contain underscores - Personal naming conventions allow underscores in identifiers, although advised against outside of constants.
dotnet_diagnostic.CA1707.severity = none
